  </head>
  <body>
    <!-- nav bar -->
    <header>
      <nav>
        <a href="/" id="logo"
          ><img src="/images/blackUnccLogo.png" alt="uncc logo"
        ></a>
        <ul class="hamburger-nav-bar">
          <input type="checkbox" id="check" >
          <span class="menu">
            <li><a href="/events">Events</a></li>
            <li><a href="/events/new">New Event</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="#">Sign up</a></li>
            <li><a href="#">Log in</a></li>
            <label for="check" class="close-menu"
              ><i class="fa-solid fa-xmark white-icon"></i
            ></label>
          </span>
          <label for="check" class="open-menu"
            ><i class="fa-solid fa-bars white-icon"></i
          ></label>
        </ul>
      </nav>
    </header>