<!-- footer -->
    <footer>
      <a href="#"> <img src="/images/unccLogoFooter.png" alt="uncc logo" /></a>
      <p>
        University of North Carolina at Charlotte &copy; 2023. All rights
        reserved
      </p>
      <ul>
        <li class="social-links">
          <a
            href="https://www.facebook.com/UNCCharlotte/"
            target="_blank"
            rel="noopener"
            ><i class="fa-brands fa-facebook green-icon"></i
          ></a>
        </li>
        <li class="social-links">
          <a
            href="https://www.linkedin.com/school/unc-charlotte/mycompany/verification/"
            target="_blank"
            rel="noopener"
            ><i class="fa-brands fa-linkedin green-icon"></i
          ></a>
        </li>
        <li class="social-links">
          <a
            href="https://twitter.com/unccharlotte"
            target="_blank"
            rel="noopener"
            ><i class="fa-brands fa-square-x-twitter green-icon"></i
          ></a>
        </li>
        <li class="social-links">
          <a
            href="https://www.instagram.com/unccharlotte/?hl=en"
            target="_blank"
            rel="noopener"
            ><i class="fa-brands fa-instagram green-icon"></i
          ></a>
        </li>
      </ul>
    </footer>
  </body>
</html>