<%- include('./partials/beginHeader.ejs') %>
<link rel="stylesheet" type="text/css" href="/styles/about.css" />
<title>49erHangout - About</title>
<%- include('./partials/endHeader.ejs') %>
<main>
    <h1>49ersHangout</h1>
    <div id="about-me">
        <div class="about-me-img">
            <img src="/images/linkedInPFP.jpg" alt="linkedin pfp" />
        </div>
        <div class="about-me-info">
            <p>
                This application was built for the sole purpose of creating, hosting, and exploring events. 
            </p>
            <p>
                In order to use this website, you just need to have an idea for an event and then fill out the form provided in the "New Event" page. The rest will be handled by the website itself. 
            </p>
            <p>
                If you have any questions, please feel free to contact me.
            </p>

            <a href="/contact">Contact Me!</a>
        </div>
    </div>
</main>

<%- include('./partials/footer.ejs') %>
