<%- include('./partials/beginHeader.ejs') %>
<link rel="stylesheet" type="text/css" href="/styles/contact.css" />
<title>49erHangout - Contact</title>
<%- include('./partials/endHeader.ejs') %>

<main>
  <h1>Contact Me</h1>
  <div id="about-me">
    <img src="/images/linkedInPFP.jpg" alt="linkedin pfp" />
    <div id="about-me-inner">
      <div id="about-me-info">
        <p>
          Hi, my name is Santiago Orozco Buri. I am currently a Junior at the
          University of North Carolina at Charlotte, majoring in Computer
          Science, and minoring in Math.
        </p>
        <a href="/about">More About Me!</a>
      </div>
      <div id="contact-social-links">
        <h3>Here are several ways to get into contact with me:</h3>
        <ul>
          <li class="social-links">
            <a
              href="https://www.linkedin.com/in/sorozcob/"
              target="_blank"
              rel="noopener"
              ><i class="fa-brands fa-linkedin green-icon"></i
            ></a>
          </li>
          <li class="social-links">
            <a
              href="mailto:sorozcob@uncc.edu?subject=In regards to 49ersHangout!"
              rel="noopener"
              ><i class="fa-solid fa-envelope-open-text green-icon"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>

<%- include('./partials/footer.ejs') %>
